body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	width: 100%;
	background: linear-gradient(to bottom right, red, yellow);
}

.hero a {
  image: url("<img src="https://image.ibb.co/cr4E4J/fullsizeoutput_76c.jpg" alt="Victoria Chhieng">");
  width: 500;
  height: 500;
}

h1 {
	font-size: 60px;
	font-family: Georgia, serif;
	color: white;
	text-align: center;
	border-bottom: 6px solid red;
        background-color: orange;
}
	
h2 {
	font-size: 48px;
	font-family: Georgia, serif;
	color: white;
	text-align: left;
}

h3 {
	font-size: 32px;
	font-family: Georgia, serif;
	color: white;
	text-align: center;
	border-bottom: 6px solid red;
        background-color: orange;
}

h7 {
	font-size: 16px;
	font-family: Georgia, serif;
	text-align: center;
	color: white;
}

p {
	font-size: 16px;
	font-family: Georgia, serif;
	color: black;
	text-align: left;
}

li {
	font-size: 16px;
	text-align: left;
	font-family: Georgia, serif;
	color: black;
}
