body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background: linear-gradient(to bottom right, red, yellow);
}

h1 {
	font-size: 40px;
	font-family: Georgia, serif;
	color: white;
	text-align: cetner;
	border-bottom: 6px solid red;
        background-color: orange;
}
	
	h2 {
	font-size: 40px;
	font-family: Georgia, serif;
	color: white;
	text-align: cetner;
	border-bottom: 6px solid red;
        background-color: orange;
}

h3 {
	font-size: 40px;
	font-family: Georgia, serif;
	color: white;
	text-align: cetner;
	border-bottom: 6px solid red;
        background-color: orange;
}
	
.hero a {
	font-size: 40px;
	font-family: Georgia, serif;
	color: white;
	text-align: cetner;
	border-bottom: 6px solid red;
        background-color: orange;
}

